.post{
width: 500px; 
margin: 20px auto;

}

body {
  background-color: rgb(255, 255, 255);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}



.post-img{
width: 250px;
height:250px;
display: flex;
margin:0px;
}

.post-icons {
  display: flex; /* Alinea los hijos (post-icons-left y post-icons-right) en fila */
  justify-content: space-between; /* Coloca un espacio máximo entre los íconos de la izquierda y el de la derecha */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.post-icons-left {
  display: flex; /* Alinea los tres íconos (corazón, comentario, avión) en fila */
  gap: 15px; /* Espacio entre los íconos de la izquierda */
  padding: 1em;
}